## Visual Studio & .NET Core
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## SQLite Database
*.db
*.db-shm
*.db-wal

## OS & Editors
.DS_Store
Thumbs.db
.idea/
.vscode/
